footer {
    margin: 15px 0;
}

a {
    color: #CCC5B9;
    text-decoration: none;
    transition: all 150ms ease-in-out;
}

a:hover {
    font-weight: bold;
    color: #CCC5B9;
}

.App {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 30px;
}